body {
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;

}

html {
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.boldfont {
    font-family: "Sandoll Nemony2" !important;
    font-weight: 400;
}


/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,255,163,.9);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,255,163,.9);
}

/* ------------------------header------------------------ */

.topbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,255,163,.9);
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, .1);
}
.logo{
    cursor: pointer;
}
/* 모바일시 서치버튼 */
#search_2{
    display: none;
    margin: 0 auto;
    background: rgba(0,255,163,.9);;
    padding: 10px;
    position: relative;
}
.closeBtn2{
    position: absolute;
    right: 2%;
    top: 10%;
    font-size: 16px;
}
#search_2>form>input {
    width: 80%;
    height: 40px;
    border-radius: 30px;
    padding-left: 40px;
    transition: 0.8s;

}
#search_2 form{
    position: relative;
}
#search_2 .fa-search{
    position: absolute;
    top: 13px;
    left: 10px;
}
@media(max-width:720px){
    .closeBtn2{
        position: absolute;
        right: 0;
        top: 10%;
        font-size: 14px;
    }
}
/* 모바일시 서치버튼 */
.list-icon,
.search-icon{
    display: none;
}



#search_1>form>input {
    width: 380px;
    height: 40px;
    border-radius: 30px;
    padding-left: 40px;
    transition: 0.8s;

}
#search_1 form{
    position: relative;
}
#search_1 .fa-search{
    position: absolute;
    top: 13px;
    left: 10px;
}
#search_1 {
    margin: 0px 0 auto;
}

#search_1>form>input:focus {
    width: 400px;
}

.login_btn{
    border: 2px solid #000;
    border-radius: 8px;
    height: 30px;
    margin-left: 8px;
    padding: 0 10px;
}
.login_btn a{
    color: #000;
    font-size: 12px;
}
@media(max-width:720px){
    #search_1 {
        display: none;
    }
    .list-icon,
    .search-icon{
    display: inline-block;
    }
    .header_left{
        display: flex;
        align-items: center;
    }
    .header_right{
        display: flex;
        align-items: center;
    }
    .topbar{
        width: 100%;
        height: 50px;
        padding: 5px;
        
    }
    .login_btn{
        border: 2px solid #000;
        border-radius: 7px;
        height: 25px;
    }
    .login_btn a{
        font-size: 10px;
    }
}
/* ----------------------main------------------ */

.main{
    display: grid;
    grid-template-columns: 13% 87%;
    width: 100%;
    height: 100vh;
}
@media(max-width:720px){
    .main{
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        height: 100vh;
    }
    .sidenav{
        width: 100%;
        height: 100vh;
        display: none;
    }
   

}   
/* ============side=========== */
.sidenav{
    background: rgba(0,255,163,.9);
    padding-top: 5px;
    border-right: 1px solid #ccc;
    grid-column: auto;
    text-align: center;
    padding: 10px;
    position: relative;
}

.sidenav #closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
    color: #000;
    display: none;
    
}
.channel{
    border-bottom: 1px dotted #999;
}


.streamers{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 10px;
}

.circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;

    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;


}
.streamerstitle{
    margin-left: 15px;
    font-size: 15px;
}
/* 라이브 css */
.partner_badge__1eb73 {
    background-color: #e02020;
    border-radius: 7px;
    bottom: -2px;
    font-size: 0;
    left: 50%;
    line-height: 0;
    padding: 3px 5px 4px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#profile1 {
    background: url(img/photo_0.png) no-repeat;
    background-position: 50%;
    background-size: contain;
}
#profile2 {
    background: url(img/unnamed.jpg) no-repeat;
    background-position: 50%;
    background-size: contain;
}

#profile3 {
    background: url(img/침착맨-프로필-2023.png) no-repeat;
    background-position: 50%;
    background-size: contain;
}

#profile4 {
    background: url(img/그윽.jpg) no-repeat;
    background-position: 50%;
    background-size: contain;
}

#profile5 {
    background: url(img/Crazzy_CZ.png) no-repeat;
    background-position: 50%;
    background-size: contain;
}

#profile6 {
    background: url(img/ok.png) no-repeat;
    background-position: 50%;
    background-size: contain;
}
.service p{
    margin-bottom: 10px;
}
.services{
    display: flex;
    align-items: center;
    margin: 15px 0 15px 10px;
    font-size: 13px;
    cursor: pointer;
}
.services i {
    margin-right: 10px;
}
@media(max-width:720px){
    .circle {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    
    
    
    }
    .streamerstitle{
        font-size: 16px;
    }
    .services{
        font-size: 15px;
    }
}
/* ============container=========== */
.container{
    width: 100%;
    height: 100%;
    background: #f7f8f9;
    overflow-y: auto;
}
.profile_box{
    display: flex;
    margin: 0 auto;
    max-width: 1360px;
    padding: 20px 30px 17px;
    justify-content: space-between;
}
.profile_box_left{
    display: flex;
}
.circle2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile_title{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 100px;
    justify-content: center;
    
}
.profile_title span{
    margin: 1px 0;
}
.name{
    font-size: 26px;
}
.btn1{
    height: 34px;
    background-color: rgba(0,255,163,.9);
    border-radius: 17px;
    padding-right: 16px;
    text-align: center;
    line-height: 34px;
    padding-left: 20px;
    margin-right: 10px;
    color: #000;
}
.btn2{
    height: 34px;
    border: 2px solid #000;
    border-radius: 17px;
    padding-right: 16px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    padding-left: 20px;
    color: #000;
}
.btn1 i,
.btn2 i{
    margin-left: 5px;
}
@media(max-width:720px){
    .container{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .profile_box{
        display: flex;
        margin: 0 auto;
        max-width: 1360px;
        padding: 10px;
        justify-content: space-between;
    }
    .circle2{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    #profile3 {
        background: url(img/침착맨-프로필-2023.png) no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    .profile_title{
        display: flex;
        flex-direction: column;
        margin-left: 18px;
        height: auto;
        justify-content: center;
        
    }
    .profile_title span{
        margin: 1px 0;
        font-size: 12px;
    }
    .name{
        font-size: 20px !important;
    }
    .btn1{
        height: 30px;
        background-color: rgba(0,255,163,.9);
        border-radius: 10px;
        padding: 0 10px;
        text-align: center;
        line-height: 30px;
        
        
    }
    .btn2{
        height: 30px;
        border: 2px solid #000;
        border-radius: 10px;
        padding: 0 10px;
        background-color: #fff;
        text-align: center;
        line-height: 30px;
        
    }
    .btn{
        display: flex;
        justify-content: center;
    }
    .hidden-text{
        display: none;
    }
    .btn1 i,
    .btn2 i{
        margin-left: 0px;
    }
}
/* viewbox */
nav {
    position: relative;
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: block;
    position: relative;
    float: left;
    padding: 16px 0 38px;
    width: 100px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    color: #000;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

nav ul li span:hover,
nav ul li span:focus{
    color: #8ac007;
}

nav .effect {
    position: absolute;
    left: -12.5%;            
    width: 12px;
    height: 12px;
    bottom: 15px;
    margin-left: -6px;
    border-radius: 50%;
    background: #8ac007;    
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.viewbox_ul li:nth-child(1):hover~.effect {
    left: 50px;
}

.viewbox_ul li:nth-child(2):hover~.effect {
    left: 150px;
}

.viewbox_ul li:nth-child(3):hover~.effect {
    left: 250px;
}

nav:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 1px;
    background: #8ac007;  
}
nav ul li:after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 18px;
    width: 4px;
    height: 4px;
    background: #8ac007; 
    margin-left: -2px;
    border-radius: 50%;
}

.viewbox_btn{
    cursor: pointer;
}
.bxx{
    font-size: 15px;
}
.bxx.on{
    color:#8ac007;
    font-weight: 500;
}
.content {

    display: none;
    width: 100%;

}

.content:first-child {

    display: block;

}
.active1 {
    display: block;
}


/* --home-- */
.home1{
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.box-top{
   position: absolute;
   top: 3%;
   left: 2%;
}
.livebtn {
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-size: 15px;
    height: 30px;
    justify-content: center;
    letter-spacing: -0.3px;
    line-height: 30px;
    border-radius: 4px;
    
    padding: 0px 15px;
    background-color: red;
    font-weight: 600;
    margin-left: 10px;
    z-index: 50;
}



.viewnumber {

    background-color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    letter-spacing: -0.3px;
    line-height: 30px;
    padding: 0 15px;
    z-index: 50;
    margin-left: 5px;
}
iframe{
    border-radius: 15px;
    margin: 0 auto;
}
.home2{
    width: 100%;
    height: 100%;
    padding: 15px;

}
.home2 h3,
.home3 h3{
    font-size: 20px;
}
.youtubes{
    display: flex;
    justify-content: left;
   
}
.youtube{
    height: 30px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, .8);
    padding: 7px 15px 7px 7px;
    margin: 15px;
    border-radius: 15px;

}
.youtube a{
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}
.youtube:hover,
.youtube:focus {
    background: #999;
    box-shadow: 0 0.5em 0.5em -0.4em #000;

}
.home3{
    padding: 15px;
}
.home3 ul > li {
    display: flex;
    padding-bottom:10px ;
}
.home3 ul > li > p {
    padding-right:20px ;
    font-weight: 600;
    margin: 0;
}

@media(max-width:720px){
    iframe{
        width: 98%;
        height: 270px;
    }
    .livebtn {
        font-size: 13px;
        height: 25px;
        line-height: 25px;
        padding: 0px 13px;
        background-color: red;
    }
    .viewnumber {
        font-size: 13px;
        height: 25px;
        line-height: 25px;
        padding: 0 13px;
        margin-left: 5px;
    }
    
    .youtubes{
        display: flex;
        justify-content: space-evenly;
       
    }
    .youtube{
        height: 30px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        background-color: rgba(0, 0, 0, .8);
        padding:  2px 3px;
        margin: 0 2px;
        border-radius: 10px;
    
    }
    .youtube a{
        font-size: 11px;
    }
}
/* video */
.video_btns{
    padding: 15px;
}
.video_btn{
    display: inline-block;
    padding: 3px 10px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    border: 1px solid #000;
    font-size: 15px;
    color: #000;
}
.video_btn.active{
    background: #999;

}
.video{
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.video_box{
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    margin:  5px;
    cursor: pointer;
}
.video_picture{
    width: 100%;
    height: 190px;
    border-radius: 12px;
    position: relative;
}
.replay{
    height: 20px;
    line-height: 20px;
    padding: 3px 10px;
    background: dodgerblue;
    color: #fff;
    position: absolute;
    z-index: 33;
    top: 2%;
    left: 2%;
    border-radius: 15px;
    font-size: 12px;
}
#thumbnail1{
    background: url(img/view1.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}
#thumbnail2{
    background: url(img/view2.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}
#thumbnail3{
    background: url(img/view3.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}
#thumbnail4{
    background: url(img/view4.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}
#thumbnail5{
    background: url(img/view5.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}
#thumbnail6{
    background: url(img/view6.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}
#thumbnail7{
    background: url(img/view7.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}
#thumbnail8{
    background: url(img/view8.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}
.count{
    font-size: 12px;
    color: #999;

}
@media(max-width:720px){
    .video_btns{
        padding: 5px;
    }
    .video_btn{
        display: inline-block;
        padding: 3px 7px;
        height: 30px;
        border-radius: 15px;
        margin: 5px;
        border: 1px solid #000;
        font-size: 13px;
        color: #000;
    }
    .video{
        padding: 5px;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(1, 1fr);

        
    }
    .video_box{
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        margin:  10px auto;
        cursor: pointer;
    }
    .video_picture{
        width: 100%;
        height: 200px;
        border-radius: 12px;
        position: relative;
    }
    .video_box p{
        font-size: 14px;
    }
}
/* post */
.post{
    padding: 15px;
}
.post_box{
    display: flex;
    margin: 0 auto;
    padding: 20px 30px 17px;
    justify-content: space-between;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .1);
    margin-bottom: 15px;
}
.post_box_left{
    display: flex;
}
.circle3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.post_title{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    
}
.post_title span:last-of-type{
    padding-top: 50px;
}
.name2{
    font-size: 18px;
}
.comment{
    color: #8ac007;
    font-size: 13px;
    cursor: pointer;
}
@media(max-width:720px){
    .post{
        padding: 5px;
    }
    .post_box{
        padding: 13px 20px 7px;
    }
    .name2{
        font-size: 16px;
    }
    .post_text{
        font-size: 13px;
    }
}
/* ----------------------footer------------------------------ */
footer {
    width: 100%;
    padding: 0;
    margin-top: 130px;
    height: 250px;
}

.footer-bx1 {
    padding: 10px 0;
    margin-bottom: 36px;
    box-shadow: inset 0 -0.6px 0 0 rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
}

.footer-bx2 {
    padding: 10px 0;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bx1>ul,
.footer-bx2>ul {
    display: flex;
    align-items: center;

}

.footer-bx1>ul>li,
.footer-bx2>ul>li {
    display: inline-block;
    margin: 12px;
}

.footer-bx1>ul>li>a {
    font-size: 12px;
}

.footer-bx2>ul>li>a {
    font-size: 10px;
}

.footer-bx1 ul li img {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer-bx2 p {
    display: inline-block;
    font-size: 10px;
}

.footer-bx1>ul>li>a::after,
.footer-bx2>ul>li>a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: rgba(0, 0, 0, .2);
    margin: 0 0 4px 15px;
    vertical-align: bottom;
}

@media(max-width:720px) {

    .footer-bx1>ul>li,
    .footer-bx2>ul>li {
        display: inline-block;
        margin: 3px;
    }
    .footer-bx1>ul>li>a::after,
    .footer-bx2>ul>li>a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: rgba(0, 0, 0, .2);
    margin: 0 0 0 10px;
    vertical-align: bottom;
    }
    .footer-bx1>ul>li>a {
        font-size: 10px;
    }
    
    .footer-bx2>ul>li>a {
        font-size: 9px;
    }
}
